.login-form{
    width: 70%;
    display: flex;
    justify-content: end;
}
.login-form input{
    max-width: 250px;
    margin-top: 5px;
}
.card .card-marks{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}
.items-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card{
    margin-left: auto;
    margin-right: auto;
}
.pagination,
.filter{
    display: flex;
    justify-content: center;
}
.card{
    margin-top: 15px;
}
